<footer class="footer">
  <div class="container">
    <div>
      <div class="mb-6">

        <a class="logo" href="/" aria-label="home">
          <img src="/assets/images/logo.svg" alt="" width="35" height="32" loading="lazy">
          <span>Openscoring.io</span>
        </a>
      </div>

      <div class="mb-6">
        <a href="mailto:info@openscoring.io" class="mb-6 md:hidden uppercase">info@openscoring.io</a>
      </div>

      <div class="mb-6">
        <a href="https://twitter.com/openscoring" target="_blank" class="link--twitter">
          Follow Openscoring on Twitter
          <img src="/assets/images/twitter.svg" alt="" width="40" height="40">
        </a>
      </div>
      

    </div>

    <div>
      <nav class="nav--footer">
        <ul id="menu--footer">
          <li><a href="/" aria-current="page">Home</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/#products" aria-current="page">Products</a></li>
          <li><a href="/#licensing" aria-current="page">Licensing</a></li>
          <li><a href="/#consulting" aria-current="page">Consulting</a></li>
        </ul>
      </nav>
    </div>

    <div class="hidden md:block">
      <a href="mailto:info@openscoring.io" class="uppercase">info@openscoring.io</a>
    </div>
  </div>

  <div class="container">
    <div>© 2022 - Openscoring.io</div>
  </div>
</footer>