<header class="c-head">
  <div class="c-head__container container-p0">
    <a class="c-head__logo" href="/"><img src="/assets/images/logo.svg" alt="" /></a>
    <nav class="c-head__nav">
      <ul id="menu-main-menu" class="c-head__menu">
        <li><a href="/" aria-current="page">Home</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/#products" aria-current="page">Products</a></li>
        <li><a href="/#licensing" aria-current="page">Licensing</a></li>
        <li><a href="/#consulting" aria-current="page">Consulting</a></li>
      </ul>
    </nav>
    <button id="menu-toggle" class="c-head__toggle c-toggle" type="button">
      <span class="c-toggle__line c-toggle__top"></span>
      <span class="c-toggle__line c-toggle__mid"></span>
      <span class="c-toggle__line c-toggle__bot"></span>
    </button>
  </div>
</header>