---
layout: default
---

<h1>{{ page.title }}</h1>
  
<div class="post">
  {{ content }}
{% if page.related_posts %}
  <h2 id="related_posts">Related blog posts</h2>

  <ul class="posts">
  {% for related_post in page.related_posts %}
    {% capture related_post_path %}_posts/{{ related_post }}.md{% endcapture %}
    {% for post in site.posts %}{% if post.path != related_post_path%}{% continue %}{% endif %}
      <li class="post__item">
        <div class="post__date">{{ post.date | date: '%Y-%m-%d' }}</div>
        <a class="post__title" href="{{ post.url }}">{{ post.title }}</a>
        <div class="post__description">{{ post.description }}</div>
      </li>
    {% endfor %}
  {% endfor %}
  </ul>
{% endif %}
{% include giscus.html %}
</div>
