.highlight pre { 
  margin: 0; 
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  background-color: var(--clr-white);
  border: .1rem solid var(--clr-primary-700);
  border-radius: 10px;
  /*font-size: 0.8rem;*/
  /*line-height: 1.2;*/
  /*overflow: auto;*/

  &::-webkit-scrollbar {
    width: 0.2rem;
    height: 0.2rem;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--clr-primary-500);
    border-radius: 5px;

    &:hover {
      background-color: var(--clr-primary-700);
    }
  }
}

/* .highlight, .highlight .w {
  color: #bbbbbb;
  background-color: #000;
} */
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1 {
  color: #888;
}
.highlight .cp {
  color: #579;
}
.highlight .cs {
  color: #cc0000;
  font-weight: 600;
}
.highlight .k, .highlight .kc, .highlight .kd, .highlight .kn, .highlight .kr, .highlight .kv {
  color: #080;
  font-weight: 600;
}
.highlight .kp {
  color: #038;
}
.highlight .kt {
  color: #339;
}
.highlight .o {
  color: #333;
}
.highlight .ow {
  color: #000;
  font-weight: 600;
}
.highlight .nb, .highlight .bp {
  color: #007020;
}
.highlight .nf, .highlight .fm {
  color: #06B;
  font-weight: 600;
}
.highlight .nc {
  color: #B06;
  font-weight: 600;
}
.highlight .nn {
  color: #0e84b5;
  font-weight: 600;
}
.highlight .ne {
  color: #F00;
  font-weight: 600;
}
.highlight .nv, .highlight .vm {
  color: #963;
}
.highlight .vi {
  color: #33B;
}
.highlight .vc {
  color: #369;
}
.highlight .vg {
  color: #d70;
  font-weight: 600;
}
.highlight .no {
  color: #036;
  font-weight: 600;
}
.highlight .nl {
  color: #970;
  font-weight: 600;
}
.highlight .ni {
  color: #800;
  font-weight: 600;
}
.highlight .na {
  color: #00C;
}
.highlight .nt {
  color: #070;
}
.highlight .nd {
  color: #555;
  font-weight: 600;
}
.highlight .s, .highlight .sb, .highlight .dl, .highlight .s2, .highlight .sh, .highlight .s1 {
  background-color: #fff0f0;
}
.highlight .sa {
  color: #080;
  font-weight: 600;
}
.highlight .sc {
  color: #04D;
}
.highlight .sd {
  color: #D42;
}
.highlight .si {
  background-color: #eee;
}
.highlight .se {
  color: #666;
  font-weight: 600;
}
.highlight .sr {
  color: #000;
  background-color: #fff0ff;
}
.highlight .ss {
  color: #A60;
}
.highlight .sx {
  color: #D20;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #60E;
  font-weight: 600;
}
.highlight .mi, .highlight .il {
  color: #00D;
  font-weight: 600;
}
.highlight .mf {
  color: #60E;
  font-weight: 600;
}
.highlight .mh {
  color: #058;
  font-weight: 600;
}
.highlight .mo {
  color: #40E;
  font-weight: 600;
}
.highlight .gh {
  color: #000080;
  font-weight: 600;
}
.highlight .gu {
  color: #800080;
  font-weight: 600;
}
.highlight .gd {
  color: #A00000;
}
.highlight .gi {
  color: #00A000;
}
.highlight .gr {
  color: #FF0000;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: 600;
}
.highlight .gp {
  color: #c65d09;
  font-weight: 600;
}
.highlight .go {
  color: #888;
}
.highlight .gt {
  color: #04D;
}
.highlight .err {
  color: #F00;
  background-color: #FAA;
}